In [1]:
import numpy as np 
import pandas as pd

In [2]:
bitcoin =pd.read_csv("DATA SET3.csv")

In [3]:
bitcoin.head(7)

         date     price
0  08-02-2020   840.750
1  11-02-2020   888.200
2  12-02-2013   812.600
3  13-02-2013  1025.950
4  14-02-2013   318.799
5  15-02-2013  1562.800
6  19-02-2013   113.544

In [4]:
bitcoin.tail()

           date   price
115  05-11-2013  689.85
116  06-11-2013  553.71
117  28-10-2013  450.00
118  29-10-2013  800.00
119  30-10-2013  432.00

In [5]:
bitcoin.drop(['date'],1,  inplace=True)

In [6]:
bitcoin.head(7)

      price
0   840.750
1   888.200
2   812.600
3  1025.950
4   318.799
5  1562.800
6   113.544

In [7]:
prediction_days = 30

In [8]:
bitcoin['Prediction'] = bitcoin[['price']].shift(-prediction_days)

In [9]:
bitcoin.head()

      price  Prediction
0   840.750      840.00
1   888.200      689.85
2   812.600      553.71
3  1025.950      832.41
4   318.799      522.23

In [10]:
bitcoin.tail()

      price  Prediction
115  689.85         NaN
116  553.71         NaN
117  450.00         NaN
118  800.00         NaN
119  432.00         NaN

In [11]:
X = np.array(bitcoin.drop(['Prediction'],1))

In [12]:
X= X[:len(bitcoin)-prediction_days]
print(X)

[[ 840.75  ]
 [ 888.2   ]
 [ 812.6   ]
 [1025.95  ]
 [ 318.799 ]
 [1562.8   ]
 [ 113.544 ]
 [ 147.252 ]
 [1192.21  ]
 [ 607.14  ]
 [ 718.64  ]
 [ 800.    ]
 [ 739.05  ]
 [ 614.36  ]
 [ 737.68  ]
 [ 817.48  ]
 [ 767.61  ]
 [1324.32  ]
 [ 912.53  ]
 [1059.37  ]
 [ 696.18  ]
 [ 899.91  ]
 [1138.    ]
 [ 838.33  ]
 [ 176.677 ]
 [ 651.41  ]
 [1180.53  ]
 [1081.98  ]
 [ 107.408 ]
 [ 854.52  ]
 [ 840.    ]
 [ 689.85  ]
 [ 553.71  ]
 [ 832.41  ]
 [ 522.23  ]
 [1459.56  ]
 [ 169.979 ]
 [ 190.012 ]
 [1299.8   ]
 [ 129.98  ]
 [ 199.995 ]
 [ 129.98  ]
 [ 150.013 ]
 [1500.13  ]
 [1500.13  ]
 [ 169.979 ]
 [ 199.995 ]
 [ 800.    ]
 [1200.    ]
 [1100.14  ]
 [1130.9   ]
 [1299.8   ]
 [ 220.028 ]
 [ 300.026 ]
 [ 239.994 ]
 [ 220.028 ]
 [ 199.995 ]
 [ 110.014 ]
 [  23.9994]
 [ 300.    ]
 [ 500.    ]
 [ 190.12  ]
 [  26.0027]
 [ 129.8   ]
 [ 190.12  ]
 [ 682.7   ]
 [  16.9979]
 [ 700.    ]
 [  19.9995]
 [  19.0012]
 [  19.0012]
 [  16.9979]
 [  16.9979]
 [  15.0013]
 [   7.0015]
 [ 800.    ]
 [ 850.    ]
 [ 500.    ]
 [ 900.    ]
 [ 230.    ]
 [ 450.    ]
 [ 300.    ]
 [ 210.7   ]
 [ 400.9   ]
 [ 840.75  ]
 [ 888.2   ]
 [ 812.6   ]
 [1025.95  ]
 [ 318.799 ]
 [1562.8   ]]

In [13]:
 y = np.array(bitcoin['Prediction'])

In [14]:
y = np.array(bitcoin['Prediction'])

In [15]:
y = y[:-prediction_days] 
print(y)

[ 840.      689.85    553.71    832.41    522.23   1459.56    169.979
  190.012  1299.8     129.98    199.995   129.98    150.013  1500.13
 1500.13    169.979   199.995   800.     1200.     1100.14   1130.9
 1299.8     220.028   300.026   239.994   220.028   199.995   110.014
   23.9994  300.      500.      190.12     26.0027  129.8     190.12
  682.7      16.9979  700.       19.9995   19.0012   19.0012   16.9979
   16.9979   15.0013    7.0015  800.      850.      500.      900.
  230.      450.      300.      210.7     400.9     840.75    888.2
  812.6    1025.95    318.799  1562.8     113.544   147.252   600.
  607.14    718.64    800.      739.05    614.36    737.68    817.48
  767.61   1324.32    912.53   1059.37    696.18    899.91   1138.
  838.33    750.      651.41   1180.53   1081.98    107.408   854.52
  840.      689.85    553.71    450.      800.      432.    ]

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [17]:
prediction_days_array = np.array(bitcoin.drop(['Prediction'],1))[-prediction_days:]

In [18]:
print(prediction_days_array)

[[ 113.544]
 [ 147.252]
 [ 600.   ]
 [ 607.14 ]
 [ 718.64 ]
 [ 800.   ]
 [ 739.05 ]
 [ 614.36 ]
 [ 737.68 ]
 [ 817.48 ]
 [ 767.61 ]
 [1324.32 ]
 [ 912.53 ]
 [1059.37 ]
 [ 696.18 ]
 [ 899.91 ]
 [1138.   ]
 [ 838.33 ]
 [ 750.   ]
 [ 651.41 ]
 [1180.53 ]
 [1081.98 ]
 [ 107.408]
 [ 854.52 ]
 [ 840.   ]
 [ 689.85 ]
 [ 553.71 ]
 [ 450.   ]
 [ 800.   ]
 [ 432.   ]]

In [19]:
from sklearn.svm import SVR

In [20]:
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)
svr_rbf

SVR(C=1000.0, gamma=1e-05)

In [21]:
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, gamma=1e-05)

In [22]:
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ", svr_rbf_confidence)

svr_rbf accuracy:  0.031746520297279646

In [23]:
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)
print()

[532.57548541 718.9442318  658.38255297 440.07116843 661.1266279
 385.09623697 674.69878517 380.53457942 668.44618737 394.95812016
 563.43594436 443.62278786 545.70025914 393.59013074 678.90366676
 617.83281787 586.65129423 670.51626855]

In [24]:
print(y_test)

[ 129.98    113.544   840.75    220.028   689.85   1299.8     912.53
  900.      737.68     19.9995  239.994   150.013     7.0015  199.995
 1059.37    832.41    129.8     817.48  ]

In [25]:
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

[543.08156958 542.81762818 495.23284137 482.57755919 424.97333159
 532.57548541 443.62278786 470.68860083 442.13985354 562.01489587
 480.75676313 414.03795985 679.17484727 565.65559755 414.00823913
 671.14322733 440.07116843 596.09577745 456.53988753 426.21552321
 393.59013074 527.61546187 545.96154414 620.46886323 598.71540514
 412.9107201  593.63888723 811.73066382 532.57548541 833.85859385]

In [26]:
bitcoin.tail(prediction_days)

        price  Prediction
90    113.544         NaN
91    147.252         NaN
92    600.000         NaN
93    607.140         NaN
94    718.640         NaN
95    800.000         NaN
96    739.050         NaN
97    614.360         NaN
98    737.680         NaN
99    817.480         NaN
100   767.610         NaN
101  1324.320         NaN
102   912.530         NaN
103  1059.370         NaN
104   696.180         NaN
105   899.910         NaN
106  1138.000         NaN
107   838.330         NaN
108   750.000         NaN
109   651.410         NaN
110  1180.530         NaN
111  1081.980         NaN
112   107.408         NaN
113   854.520         NaN
114   840.000         NaN
115   689.850         NaN
116   553.710         NaN
117   450.000         NaN
118   800.000         NaN
119   432.000         NaN

In [29]:

# Importing library 

import csv 

  
# data to be written row-wise in csv fil 

data = [(svm_prediction)]
file = open('san.csv', 'a', newline ='')  

with file:     

    write = csv.writer(file) 

    write.writerow(data)

In [31]:
import numpy as np
import pandas as pd
prediction = pd.DataFrame(svm_prediction, columns=['predictions']).to_csv('san.csv')

In [32]:
np.genfromtxt('c:/Users/lenovo/san.csv', delimiter =',')

array([[         nan,          nan],
       [  0.        , 543.08156958],
       [  1.        , 542.81762818],
       [  2.        , 495.23284137],
       [  3.        , 482.57755919],
       [  4.        , 424.97333159],
       [  5.        , 532.57548541],
       [  6.        , 443.62278786],
       [  7.        , 470.68860083],
       [  8.        , 442.13985354],
       [  9.        , 562.01489587],
       [ 10.        , 480.75676313],
       [ 11.        , 414.03795985],
       [ 12.        , 679.17484727],
       [ 13.        , 565.65559755],
       [ 14.        , 414.00823913],
       [ 15.        , 671.14322733],
       [ 16.        , 440.07116843],
       [ 17.        , 596.09577745],
       [ 18.        , 456.53988753],
       [ 19.        , 426.21552321],
       [ 20.        , 393.59013074],
       [ 21.        , 527.61546187],
       [ 22.        , 545.96154414],
       [ 23.        , 620.46886323],
       [ 24.        , 598.71540514],
       [ 25.        , 412.9107201 ],
       [ 26.        , 593.63888723],
       [ 27.        , 811.73066382],
       [ 28.        , 532.57548541],
       [ 29.        , 833.85859385]])

In [ ]:
        [['612.05742587'],
        ['607.12173389'],
        ['183.57583615'],
        ['184.38924217'],
        ['351.10404807'],
        ['532.28413086'],
        ['399.47097224'],
        ['186.66382116'],
        ['396.20825494'],
        ['561.36511011'],
        ['465.96499148'],
        ['309.73618692'] ,
        ['604.94028109'] ,
        ['394.5902243'],
        ['300.4669397'],
        ['610.76692993'],
        ['300.83385617'],
        ['588.21993718'],
        ['425.42276386'] ,
        ['220.1284653'],
        ['279.82198485'],
        ['361.05495327'] ,
        ['615.12974187'],
        ['602.55503124'] ,
        ['589.97011316'],
        ['287.12602747'] ,
        ['212.81447365'],
        ['437.1408407'],
        ['532.28413086'],
        ['483.15342951']]